#about{
    padding-left:30px;
    padding-right: 30px;
    text-align: left;
    margin-top: 50px;
    font-family: 'News Cycle', sans-serif;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: orchid;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: teal;
}
.contacts{
    clear: both;
    margin: auto;
    border: 5px solid grey;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    align-items: center;
}
img{
    margin-top: 20px;
}